<div class="jumbotron">
        <h1 class="display-3">Bem vindo</h1>
        <p class="lead">Curso de NodeJs.</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/user/login" role="button">Login</a>
          <a class="btn btn-primary btn-lg" href="/user/register" role="button">Register</a>
        </p>
      </div>